.card {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: $darkgray;

    &__link {
        text-decoration: none;
        color: $fuscia;
    }

    &__intro {
        text-align: center;
        margin-top: .75rem;
    }

    &__intro-text {
        margin-top: .75rem;
        text-align: left;
        transition: all 300ms ease-out;
        transition-property: max-height, opacity;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    &__intro-more {
        margin-bottom: 0;
        text-align: center;
    }
}
