#header {
	position: relative;
	background: $lightbeige;
	width: 100%;
	max-width: 550px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;

	h1, h2 {
		font-weight: 700;
	}
	h1 {
		color: $darkgray;
		font-size: 36px;
	}
	h2 {
		color: $darkgreen;
	}

}
