.tabs {
	background-color: $lightbeige;
}

.tabs-menu {
	margin: auto;
}

.tabs-menu-item {

	margin-right: auto;

	&.is-active {
		border-bottom: 2px solid $blue;

		a {
			color: $blue;
		}
	}

	a {
		transition: all 300ms ease-out;
		transition-property: background-color, color, opacity;
		padding: 6px 19px;
	}
}

.tabs-navigation {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
}

.tab-panel {
	padding: 10px 20px;
}
