.button-toggle {
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 20px;
//  border-bottom: 3px solid rgba(0,0,0,0.3);
  background: $lightbeige;
  color: $white;
  margin: 0 5px;
  padding: 20px;
  font-size: 12px;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  i {
    position: absolute;
    left: calc(50% - 11px);
    top: 50%;
    font-size: 22px;
    line-height: 0;
  }

  &:active {
    top: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  &.no-icon {
    padding: 8px 20px;
  }

  &__icon {
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
  }

  &__icon--large {
      padding: 20px;
      background: $fuscia;

      i {
          left: calc(50% - 11px);
      }

  }

  &__icon--small {
      padding: 14px;
      background: $blue;

      i {
          font-size: 14px;
          left: calc(50% - 7px);
      }

  }

  & .button-toggle__icon--angle-up::before {
      content: "\25b2";
  }

  & .button-toggle__icon--angle-down:before {
      content: "\25bc";
  }

}
