.button-toggle {
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 20px;
//  border-bottom: 3px solid rgba(0,0,0,0.3);
  background: $lightbeige;
  color: $white;
  margin: 0 5px;
  padding: 20px;
  font-size: 12px;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  i {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 22px;
  }

  &:active {
    top: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  &.active {
    background: $fuscia;
  }

  &.large {
    font-size: 14px;
    padding: 12px 24px 12px 50px;

    i { font-size: 18px; }
  }

  &.no-icon {
    padding: 8px 20px;
  }

  &.icon-right {
    padding: 8px 43px 8px 20px;

    &.large {
      padding: 12px 50px 12px 24px;
    }

    i {
      left: auto;
      right: 10px;
    }
  }

  &__icon {
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
  }

  & .button-toggle__icon--angle-up {
    top: 8px;

    &:before {
      content: "\25b2";
    }
  }

  & .button-toggle__icon--angle-down {
    top: 12px;

    &:before {
      content: "\25bc";
    }
  }

}
