// Colours
$white:      #ffffff;
$lightbeige: #f7f4f4;
$darkgray:   #333636;
$green:      #92bfb1;
$darkgreen:  #68897f;
$fuscia:     #f34d93;
$blue:       #3498db;


// Fonts
$font-family-primary: 'Merriweather Sans';
